html, body {
  height: 100%;
  width: 100%; }
  html *, body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

a {
  transition: all 275ms ease-in-out; }
  a:hover {
    color: #0e6ba5;
    cursor: pointer;
    text-decoration: none; }

input:focus::-webkit-input-placeholder {
  transition: all 300ms ease-in-out;
  color: transparent !important; }

input:focus::-moz-placeholder {
  transition: all 300ms ease-in-out;
  color: transparent !important; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  transition: all 300ms ease-in-out;
  color: transparent !important; }

/* IE 10+ */
textarea:focus::-webkit-input-placeholder {
  transition: all 300ms ease-in-out;
  color: transparent !important; }

textarea:focus::-moz-placeholder {
  transition: all 300ms ease-in-out;
  color: transparent !important; }

/* FF 19+ */
textarea:focus:-ms-input-placeholder {
  transition: all 300ms ease-in-out;
  color: transparent !important; }

/* IE 10+ */
.flush {
  margin-left: -15px;
  margin-right: -15px; }

.max-width {
  margin: 0 auto;
  max-width: 1200px; }

@media (min-width: 992px) {
  .transparent {
    opacity: 0; } }

.align-start {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.align-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.font--light {
  font-family: 'Lato Light'; }

.font--bold {
  font-family: 'Lato Bold'; }

.font--highlight {
  color: #67418C; }

.font--highlight-2 {
  color: #0e6ba5; }

.font--upper {
  text-transform: uppercase; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pt-10 {
  padding-top: 10px; }

.pt-20 {
  padding-top: 20px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }
