// Base styles for things like element types

html, body {
  height: 100%;
  width: 100%;
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  transition: all 275ms ease-in-out;
  &:hover {
    color: $highlight-2;
    cursor: pointer;
    text-decoration: none;
  }
}




// gets rid of placeholder text when input field is focused on
input:focus::-webkit-input-placeholder { 
  transition: all 300ms ease-in-out;
  color:transparent !important;
}
input:focus::-moz-placeholder { 
  transition: all 300ms ease-in-out;
  color:transparent !important;
} /* FF 19+ */
input:focus:-ms-input-placeholder { 
  transition: all 300ms ease-in-out;
  color:transparent !important;
} /* IE 10+ */


// gets rid of placeholder text when input field is focused on
textarea:focus::-webkit-input-placeholder { 
  transition: all 300ms ease-in-out;
  color:transparent !important;
}
textarea:focus::-moz-placeholder { 
  transition: all 300ms ease-in-out;
  color:transparent !important;
} /* FF 19+ */
textarea:focus:-ms-input-placeholder { 
  transition: all 300ms ease-in-out;
  color:transparent !important;
} /* IE 10+ */

