// Utility classes

.flush {
  margin-left: -15px;
  margin-right: -15px;
}

.max-width {
  margin: 0 auto;
  max-width: $break-lg;
}

.transparent {
  @media (min-width: $break-md) {
    opacity: 0;
  }
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

// Font Styles
.font--light {
  font-family: 'Lato Light';
}

.font--bold {
  font-family: 'Lato Bold';
}

.font--highlight {
  color: $highlight-1;
}

.font--highlight-2 {
  color: $highlight-2;
}

.font--upper {
  text-transform: uppercase;
}


// Spacing Styles
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}


