$off-white: #f2f2f2; 
$base-1: #111826; // dark gray/blue
$base-2: #333333;
$highlight-1: #67418C; // purple highlight
$highlight-2: #0e6ba5; // light blue
$highlight-3: #5faad8; // lighter blue


$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;


